<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Behnam Baharmand">
    <meta name="description" content="Neshaani URL Shortener">
    <meta name="keywords" content="urlshortener,shortener,url,open-source,free,link">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Neshaani URL Shortener</title>

    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<link href='./assets/css/neshaani.css' rel='stylesheet' type='text/css'>
    
</head>
<body>

	<img class="logo" src="./assets/img/neshaani-logo.png" alt="Neshaani">
	
	<h1>Welcome to <strong>Neshaani</strong>.</h1>
	<h2>
		The <span class="highlight">free</span> and <span class="highlight">open-source</span> URL Shortener.
	</h2>
	<hr>
	<a class="guide" href="https://github.com/neshaani/neshaani#-neshaani-app">API Usage Guide</a>

</body>
</html>