<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Neshaani URL Shortener</title>
</head>
<body>
	<h1>Welcome to Neshaani.com</h1>
	<h2>The free URL Shortener</h2>
</body>
</html>